@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  background: #010409;
  color: #ffff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 18px;
  background: none;
  font-weight: 600;
}

h1.app-title {
  font-size: 50px;
  margin: 2rem;
  color: #006466;
}

.task-container {
  font-size: 25px;
  margin: 1.5rem 0 2rem 0;
}

.task-container p {
  font-size: 25px;
}

.task-search-container {
  width: 60%;
  margin-bottom: 3rem;
}

.task-search-container input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  background: #1b3a4b;
  border: none;
  border: 2px solid #006466
}

.task-search-container input:focus, .task-search-container input:hover  {
  outline: none; /* Elimina el borde enfocado predeterminado */
  border: 2px solid #006466; /* Establece un borde personalizado */
  background: #95a0b05c;
  font-size: 15px;
}

.task-search-container input::placeholder {
  color: #010409;
  font-weight: 700;
  text-align: center;
  font-size: 15px;
}

.task-search-container input:focus::placeholder, .task-search-container input:hover::placeholder {
  color: #fff;
}

ul.task-list {
  width: 55%;
}

ul.task-list li {
  width: 100%;
  height: 60px;
  border: 1px solid #006466;
  margin: 8px;
  list-style: none;
  border-radius: 12px;
  overflow: hidden;
  background: #0d1117;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

ul.task-list span {
  border: 1px solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  align-items: center;
  border: none;
  padding: 1px;
  font-weight: 600;
  font-size: 13px;
}

ul.task-list span:hover {
  cursor: pointer;
}

ul.task-list span.delete-task:hover {
  background: #b73f3f;
}

ul.task-list span.delete-task {
  font-size: 15px;
  font-weight: 900;
}
.task-done {
  background: #238636;
}

.task-pending {
  background: #d7742bf7;
}

.add-task-container {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.add-task-container button {
  width: 100%;
  border-radius: 5%;
  border: 1px solid #006466;
  height: 100%;
  border-radius: 100%;
  font-size: 25px;
  cursor: pointer;
}

.add-task-container button:hover {
  width: 100%;
  border-radius: 5%;
  border: 1px solid #1b3a4b;
  height: 100%;
  border-radius: 100%;
  font-size: 25px;
  cursor: pointer;
  background: #006466;
}

.skeleton-content {
  padding: 10px 20px 5px 0px;
  background: #02070fe6;
  width: 100%;
  border-radius: 10px;
}

.task-card-steketon,
.task-state-skeleton,
.task-info-skeleton,
.task-delete-skeleton {
  animation: skeletonPulse 1s infinite alternate;
}

@keyframes skeletonPulse {
  0% {
    background: #0d1117;
  }
  100% {
    background: #141c28;
  }
}

.modal-component {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000078;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-create-task {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 20%;
  gap: 10px;
  max-width: 300px;
  background: #141c28;
  padding: 1%;
  width: 100%;
  max-width: 800px;
  height: 70%;
  max-height: 350px;
  margin: 5px;
  border-radius: 5px;
}

.form-row {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #141c28;
  font-family: 'Roboto', sans-serif;
}

.form-row label {
  font-size: 30px;
  background: #141c28;
  padding: 5px 0 10px 0;
}

.form-row textarea {
  height: 124px;
  width: 96%;
  border-radius: 5px;
  padding: 10px;
}

.button-row {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  background: #141c28;
}

.cancel-new-task-btn {
  border-radius: 5px;
  width: 25%;
  border: none;
  margin-left: 1rem;
  background: #b73f3f;
  cursor: pointer;
}

.create-new-task-btn {
  border-radius: 5px;
  width: 25%;
  border: none;
  margin-right: 1rem;
  background: #238636;
  cursor: pointer;
}

.create-new-task-btn:hover {
  background: #1eab3ae6
}

.cancel-new-task-btn:hover {
  background: #9f1414e2;
}

/* Estilos para pantallas de celular */
@media screen and (max-width: 767px) {
  
  .task-search-container {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .task-search-container input {
    background: #1b3a4b;
    border: 2px solid #006466;
    border-radius: 8px;
    height: 45px;
    width: 98%;
  }

  ul.task-list {
    width: 98%;
    display: flex;
    justify-content: center;
  }

}
 